@model ISFDyT124.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDenominacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDenominacion)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaModalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaModalidad)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCantModulos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCantModulos)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrerasMaterias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrerasMaterias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
